html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.hal-2-FrM {
  box-sizing: border-box;
  padding-left: 5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background: linear-gradient(180deg, rgba(91, 87, 116, 0.4699999988) -0%, rgba(116, 87, 87, 0) 100%);

  .auto-group-77yw-zZ3 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 2.9rem 4.1rem 0rem 0rem;
    width: 65.7rem;
    align-items: center;

    .auto-group-6bf3-WXP {
      box-sizing: border-box;
      padding-bottom: 6.0789rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-r76m-4J1 {
        margin-bottom: 8.85rem;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .vector-boj {
          flex-shrink: 0;
          margin: 0rem 1.8rem 0.55rem 0rem;
          width: 3.5rem;
          height: 3rem;
          object-fit: contain;
          vertical-align: top;
        }
        .home-jQ9 {
          justify-content: center;
          font-size: 2.4rem;
          white-space: nowrap;
          margin-right: 5rem;
          display: flex;
          line-height: 1.2125;
          color: #d1884f;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          align-items: center;
          font-weight: 400;
        }
        .user-ouo {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.4rem 0.05rem 0rem;
          width: 3.5rem;
          height: 3.5rem;
          object-fit: contain;
        }
        .about-me-j2m {
          justify-content: center;
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          margin-right: 5rem;
          font-size: 2.4rem;
        }
        .phone-dtq {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.3rem 0.05rem 0rem;
          width: 3.5rem;
          height: 3.5rem;
          object-fit: contain;
        }
        .contact-me-xRK {
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          font-weight: 400;
          font-size: 2.4rem;
          color: #000000;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
        }
      }
      .auto-group-nnto-gs7 {
        flex-shrink: 0;
        margin: 0rem 21.8rem 0rem 7.4rem;
        width: calc(100% - 29.2rem);
        height: 8.1211rem;
        position: relative;

        .rectangle-14-1eV {
          position: absolute;
          left: 0;
          top: 3.6211rem;
          background-color: rgba(43, 182, 217, 0.3600000143);
          border-radius: 1.5rem;
          width: 36rem;
          height: 4.5rem;
        }
        .rectangle-13-Lgm {
          width: 36rem;
          height: 4.5rem;
          position: absolute;
          left: 0.5rem;
          top: 0.6211rem;
          background-color: #553361;
          border-radius: 1.5rem;
        }
        .hobi-saya-U2H {
          color: #000000;
          justify-content: center;
          position: absolute;
          white-space: nowrap;
          height: 6.1rem;
          display: flex;
          align-items: center;
          font-size: 5rem;
          font-weight: 800;
          line-height: 1.2125;
          width: 27.4rem;
          top: 0;
          font-family: Inter, 'Source Sans Pro';
          left: 4.2289rem;
        }
      }
    }
    .auto-group-kuhx-XmF {
      width: 100%;
      height: 57.05rem;
      position: relative;
      flex-shrink: 0;

      .ellipse-5-fcZ {
        top: 21.7rem;
        background-color: rgba(0, 138, 170, 0.5299999714);
        border-radius: 15rem;
        width: 30rem;
        height: 30rem;
        position: absolute;
        left: 35.7rem;
      }
      .ellipse-6-PoT {
        border-radius: 15rem;
        width: 30rem;
        height: 30rem;
        position: absolute;
        left: 3.8rem;
        top: 0;
        background-color: rgba(0, 138, 170, 0.5299999714);
      }
      .ellipse-3-Kh7 {
        width: 30rem;
        top: 25.6rem;
        background-size: 100% 100%;
        background-position: center;
        background-image: url('REPLACE_IMAGE:698977f9ee22a35f032ca8c1e4c4a044d32692c4');
        border-radius: 15rem;
        height: 30rem;
        position: absolute;
        left: 32.4rem;
        background-repeat: no-repeat;
      }
      .ellipse-4-2Ld {
        width: 30rem;
        position: absolute;
        left: 32.4rem;
        background-size: 100% 100%;
        height: 30rem;
        top: 25.6rem;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:698977f9ee22a35f032ca8c1e4c4a044d32692c4');
        border-radius: 15rem;
      }
      .ellipse-2-9AM {
        position: absolute;
        left: 0;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:bb8112df2949d92cc1b4810eaa07a88efe2daa23');
        width: 30rem;
        height: 30rem;
        top: 3.3rem;
        border-radius: 15rem;
      }
      .rectangle-11-541 {
        top: 30.9rem;
        background-color: #553361;
        border-radius: 2rem;
        width: 17.3rem;
        height: 4.2rem;
        position: absolute;
        left: 6.5rem;
      }
      .rectangle-12-PKb {
        left: 35.2rem;
        top: 52.8rem;
        background-color: #553361;
        border-radius: 2rem;
        width: 24.4rem;
        height: 4.2rem;
        position: absolute;
      }
      .bola-t1T {
        left: 9.5rem;
        color: #000000;
        width: 11.3rem;
        justify-content: center;
        font-family: Inter, 'Source Sans Pro';
        height: 4.9rem;
        display: flex;
        align-items: center;
        font-size: 4rem;
        font-weight: 800;
        position: absolute;
        top: 30.75rem;
        line-height: 1.2125;
        white-space: nowrap;
      }
      .renang-Lu3 {
        line-height: 1.2125;
        width: 15.1rem;
        position: absolute;
        white-space: nowrap;
        align-items: center;
        justify-content: center;
        font-weight: 800;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        top: 52.15rem;
        font-size: 4rem;
        display: flex;
        height: 4.9rem;
        left: 39.85rem;
      }
    }
  }
  .auto-group-ecum-DT3 {
    align-items: center;
    display: flex;
    background-color: rgba(43, 182, 217, 0.3600000143);
    flex-shrink: 0;
    flex-direction: column;
    box-sizing: border-box;
    padding: 3.2rem 3.3rem 4.7rem 6.6rem;
    width: 69.2rem;
    height: 102.4rem;

    .auto-group-migu-Kky {
      margin: 0rem 13.7rem 21.2rem 0rem;
      width: calc(100% - 13.7rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .ellipse-1-NjF {
        flex-shrink: 0;
        background-position: center;
        border-radius: 5rem;
        height: 10rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:0ce15dc54a967b4d3999485015614f1c910d819b');
        margin-right: 2.9rem;
        width: 10rem;
      }
      .ardi-vivando-perangin-angin-225150600111029-tBo {
        flex-shrink: 0;
        display: flex;
        font-size: 2rem;
        line-height: 1.2125;
        color: #000000;
        margin-top: 0.9rem;
        max-width: 32.7rem;
        font-weight: 800;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .auto-group-tegm-M5P {
      margin: 0rem 12.4rem 1.1rem 6.3rem;
      width: calc(100% - 18.7rem);
      height: 7.9rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-19-sZX {
        width: 39.1rem;
        height: 5.4rem;
        position: absolute;
        left: 1.5rem;
        top: 0;
        background-color: rgba(43, 182, 217, 0.3600000143);
        border-radius: 1.5rem;
      }
      .rectangle-18-BKK {
        border-radius: 1.5rem;
        width: 39.1rem;
        height: 5.4rem;
        position: absolute;
        left: 0;
        top: 2.5rem;
        background-color: #553361;
      }
      .asal-daerah-uFK {
        top: 2.95rem;
        display: flex;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        width: 28.8rem;
        height: 4.9rem;
        position: absolute;
        left: 1.1rem;
        font-size: 4rem;
        font-weight: 800;
        color: #000000;
        white-space: nowrap;
      }
    }
    .auto-group-gpp3-oLh {
      position: relative;
      flex-shrink: 0;
      margin-left: 5rem;
      width: 54.3rem;
      height: 54.3rem;

      .rectangle-17-vgD {
        background-color: rgba(43, 182, 217, 0.1700000018);
        border-radius: 1.5rem;
        width: 51.3rem;
        height: 51.6rem;
        position: absolute;
        left: 3rem;
        top: 0;
      }
      .rectangle-15-rpm {
        width: 10rem;
        height: 10rem;
        position: absolute;
        left: 2.9rem;
        top: 14.4rem;
        object-fit: contain;
        vertical-align: top;
      }
      .rectangle-16-ZUH {
        top: 2.7rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1.5rem;
        width: 51.3rem;
        height: 51.6rem;
        position: absolute;
        left: 0;
      }
      .sumatera-utara-medan-ekd {
        font-size: 2.5rem;
        line-height: 1.2125;
        white-space: nowrap;
        width: 34.3rem;
        position: absolute;
        left: 0;
        top: 4.15rem;
        display: flex;
        font-weight: 800;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        height: 3.1rem;
      }
    }
  }
}
