html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.hal-3-DCh {
  background: linear-gradient(180deg, rgba(91, 87, 116, 0.4699999988) -0%, rgba(116, 87, 87, 0) 100%);
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;

  .auto-group-gpaq-Lo7 {
    box-sizing: border-box;
    padding: 2.9rem 0.7rem 2.9rem 3.2rem;
    height: 102.4rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .auto-group-vw57-qUy {
      margin-right: 0.3rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .vector-An9 {
        margin-bottom: 11.8rem;
        width: 3.5rem;
        height: 3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .logos-whatsapp-icon-WLD {
        height: 4.9834rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 6.3166rem;
        width: 5rem;
      }
      .skill-icons-instagram-EGD {
        margin-bottom: 6.3rem;
        width: 5rem;
        height: 5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .logos-facebook-A9s {
        height: 5rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 7.1rem;
        width: 5rem;
      }
      .skill-icons-linkedin-u7T {
        width: 5rem;
        height: 5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-hd2d-dp9 {
      margin-right: 1.3rem;
      width: 36.2rem;
      flex-shrink: 0;

      .auto-group-nhyp-mfT {
        width: 100%;
        display: flex;
        align-items: flex-end;
        margin-bottom: 11.35rem;

        .home-KS5 {
          justify-content: center;
          font-family: Inter, 'Source Sans Pro';
          align-items: center;
          display: flex;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #d1884f;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 5rem;
        }
        .user-QCd {
          height: 3.5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.4rem 0.05rem 0rem;
          width: 3.5rem;
        }
        .about-me-WFf {
          margin-right: 5rem;
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 2.4rem;
          color: #000000;
          white-space: nowrap;
        }
        .phone-zwX {
          width: 3.5rem;
          height: 3.5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.05rem;
        }
      }
      .item-082275060084-8nq {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 6.4rem 0.7rem;
        display: flex;
        font-size: 4rem;
        font-weight: 800;
        line-height: 1.2125;
      }
      .instagram-3Q1 {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 6.4rem 0.7rem;
        display: flex;
        font-size: 4rem;
        font-weight: 800;
        line-height: 1.2125;
        color: #000000;
      }
      .facebook-ADj {
        font-size: 4rem;
        font-weight: 800;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 7.3rem 0.7rem;
        display: flex;
      }
      .linkedin-67P {
        white-space: nowrap;
        margin-left: 1rem;
        display: flex;
        font-size: 4rem;
        font-weight: 800;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .contact-me-RfT {
      font-size: 2.4rem;
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin-top: 0.55rem;
      display: flex;
    }
  }
  .auto-group-jxuk-vcD {
    box-sizing: border-box;
    padding: 3.5rem 11.25rem 41.8rem 10rem;
    height: 102.4rem;
    align-items: center;
    flex-direction: column;
    background-color: rgba(43, 182, 217, 0.3600000143);
    width: 84rem;
    display: flex;
    flex-shrink: 0;

    .auto-group-i7xk-oAD {
      flex-shrink: 0;
      margin: 0rem 17.15rem 25.2rem 0rem;
      width: calc(100% - 17.15rem);
      display: flex;
      align-items: center;

      .ellipse-7-8TP {
        background-repeat: no-repeat;
        border-radius: 5rem;
        flex-shrink: 0;
        width: 10rem;
        height: 10rem;
        background-size: 100% 100%;
        background-position: center;
        background-image: url('REPLACE_IMAGE:0ce15dc54a967b4d3999485015614f1c910d819b');
        margin-right: 2.9rem;
      }
      .ardi-vivando-perangin-angin-225150600111029-Qvh {
        margin-top: 0.9rem;
        max-width: 32.7rem;
        display: flex;
        font-weight: 800;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2rem;
        color: #000000;
        flex-shrink: 0;
      }
    }
    .terima-kasih-karena-sudah-berkujung-ke-website-saya-sZP {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      justify-content: center;
      font-weight: 800;
      line-height: 1.2125;
      flex-shrink: 0;
      margin-left: 1.25rem;
      max-width: 61.5rem;
      align-items: center;
      font-size: 6rem;
    }
  }
}
